.titulo{
   margin-bottom: -70px !important;
   font-size: 30px !important;
   font-weight: bold;
 }

 .descricao{
   
   font-size: 20px !important;
   color: white !important;
 }
 
 .nav{
    background-color:#cdb4dbd5 !important;
 }