.profile{
    height: auto;
    background-color: #A4133C  !important;
    margin-top: 10px !important;
    border-radius: 20px;
    margin-bottom: 20px !important;
}

.post{
    border-radius: 30px !important;
    height: auto !important;
}

.img{
    margin-left: 27px;
    margin-top: 40px;
    height: 250px;
    width: 250px;
    border-radius: 125px;
}

.name{
    margin-top: 20px;
    margin-left: 70px;
}