.fundao{
    background: #F6CBCC;
    border-radius: 2px 2px 30px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo1{
    font-size: 60px !important;
    color: white !important;
    font-Weight: "bolder"
}

.titulo2{
    margin-bottom: 0px !important;
    font-size: 30px !important;
    color: white !important;
}

.titulo3{
    margin-top: 90px !important;
    font-size: 30px !important;
}

.botao{
   border-color: white!important;
   background-color: "#76baad"; 
   color: white!important; 
   display: none !important;
}

.postagens{
    background-color: #F6CBCC;
}