.fundoFooter1{
    background-color: #FB747B;
    height: 120px;
}

.fundoFooter2{
    background-color: #FB747B;
    height: 60px;
}

.redes{
    font-size: 40px !important;
    color: white;
}

.textos{
   color: white;
}