.cursor{
    cursor: pointer;
    color: rgb(10, 10, 10);
}

.fundoNavbar{
    background-color: #a2d2ffff;
    color: black !important;
    position: sticky;
}


.profile{

}

.searchPosition{
    margin-left: auto;
    
}
