.cursor{
    cursor: pointer;
    color: rgb(241, 241, 241);
}

.fundoappbar{
    background-color: #cdb4dbd5 !important;
    display: flex; 
    justify-content: center;
    align-items: center;

}

.fundoNavbar{
    background-color: rgb(250, 253, 255);
    color: rgb(252, 251, 251) !important;
    position: sticky;
}


.profile{

}

.searchPosition{
    margin-left: auto;
    
}

.navigation{
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.botoes{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0) !important;
}